@import "tailwindcss";

.custom-border {
  height: 40px;
  max-width: 160px;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #F2F3F8;
  position: relative;
}

.custom-border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: transparent;
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #F2F3F8;
}